@import url("https://fonts.googleapis.com/css?family=ncode+Sans+Expanded|Source+Code+Pro&display=swap");
.mbody {
  background: #c04848; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: contain;
  color: aliceblue;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow: hidden;
}
nav {
  background: white;
  color: black;
}
#navcontainer {
  flex-direction: row;
}
.content {
  padding: 15%;
  font-family: "Source Code Pro", monospace;
  text-shadow: 2px  2px black;
}
#develop {
  max-width: 200px;
}
#subHeading {
  font-size: 50%;
}
.imgContent {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .content {
    padding: 10%;
  }
  #develop {
    float: none !important;
  }
}
