@import url("https://fonts.googleapis.com/css?family=ncode+Sans+Expanded|Source+Code+Pro&display=swap");
.mbody {
  background: #c04848; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #480048,
    #c04848
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: contain;
  color: aliceblue;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
nav {
  background: white;
  color: black;
}
#navcontainer {
  flex-direction: row;
}
.content {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Source Code Pro", monospace;
  text-shadow: 1px 1px black;
}
#develop {
  left: 5%;
  max-width: 200px;
}
#subHeading {
  font-size: 50%;
}
.imgContent {
  width: 100%;
}
.card-body {
  display: none;
}
.card:hover > .card-body {
  display: initial;
}

#skills {
  position: relative;
}
@media only screen and (max-width: 992px) {
  #develop {
    float: none !important;
  }
}
#Layer_4 {
  fill: blue;
}
